# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# production build outputs
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# IDE / editor files
.vscode/
.idea/
*.swp
